<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/catalog.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/orders.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <h1>Orders</h1>
    <!-- Add a search bar above the table -->
    <div class="container mt-3">
        <input type="text" id="searchInput" placeholder="Search products">
    </div>

    <div class="container mt-5">
        <table class="table table-striped" id="productTable">
            <thead>
                <tr>
                    <th data-column="image">Image</th> <!-- New column for product images -->
                    <th data-column="id">Order ID</th>
                    <th data-column="id">Product ID</th>
                    <th data-column="name">Name</th>
                    <th data-column="description">Quantity</th>
                    <th data-column="price">Price (€)</th>
                    <th data-column="category">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><img src="{{ url_for('views.get_image', filename='catalog/' + product.product_id|string + '.png') }}" width="50"></td>
                        <td>{{ product.order_id }}</td>
                        <td>{{ product.product_id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }} €</td>
                        <td>{{ product.date }}</td>
                        <td><i class="fas fa-cart-plus reorderButton cart-button" data-product='{{ product|tojson|safe }}' id="reorderButton"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="shopping-cart">
            <h2>Shopping Cart</h2>
            <ul id="cartList">
                <!-- Cart items will be displayed here -->
            </ul>
            <p id="cartTotal">Total: <span id="totalAmount">0 €</span></p>
            <button id="removeAllItems">Clear the Cart</button>
            <button id="checkoutButton">Checkout</button>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/product_quantities.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/orders.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/catalog_cart.js')}}"></script>
    <script>
        // Call the function to update the cart display when the page loads
        updateCartDisplay();
    </script>
</body>
</html>