SecureApp/credentials/DataBaseCredentials.json
SecureApp/credentials/EmailCredentials.json
UnSecureApp/credentials/DataBaseCredentials.json
UnSecureApp/credentials/EmailCredentials.json
SecureApp/commands.txt
UnSecureApp/commands.txt
SecureApp/__pycache__
UnSecureApp/__pycache__
SecureApp/handlers/__pycache__
UnSecureApp/handlers/__pycache__
SecureApp/SIO-Project-VENV
UnSecureApp/SIO-Project-VENV
Analysis Tool/nikto/
