<!DOCTYPE html>
<html lang="en" class="dark" style="color-scheme: dark;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/Eco.ico') }}"/>
    <title>LECI</title>
</head>
<body>
    <div id="__next"></div>
        <script type="text/javascript" src="{{url_for('static', filename='home.js')}}"></script>
        <script type="text/javascript">
            toggleTheme();
        </script>
        <div class="w-full h-full flex justify-center items-center flex-col bg-gray-50 dark:bg-gray-800">
            <div class="justify-center items-center w-90 flex flex-col">
                <div style="font-family: Poppins-Bold;">
                    <h1>LECI</h1>
                </div>
                <div class="flex flex-row gap-3 items-center justify-center">
                    <button class="btn relative btn-primary" onclick="window.location.href='/login'">
                        <div class="flex w-full gap-2">Log in</div>
                    </button>
                    
                    <button class="btn relative btn-primary" onclick="window.location.href='/signup'">
                        <div class="flex w-full gap-2">Sign up</div>
                    </button>                    
                </div>
            </div>
        </div>
    </div>

    <iframe height="1" width="1" style="position: absolute; top: 0px; left: 0px; border: none; visibility: hidden;"></iframe>
</body>
</html>