<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/order_confirm.css')}}">
</head>
<body>
    <h1>Thank You for Your Purchase!</h1>
    
    <div class="thank-you-message">
        <p>Your order has been successfully placed.</p>
        <p>An email confirmation with order details has been sent to your email address.</p>
        <p>If you have any questions or need further assistance, please feel free to contact our support team.</p>
    </div>

    <div class="back-to-home">
        <a href="/catalog/{{id}}">Return to Home Page</a>
    </div>
</body>
</html>
