<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static', filename='js/500.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/500.css')}}">
    <title>Internal Error</title>
    
</head>
    <div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
        <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
        </spaguetti>
    </div>

</html>
